.toggler {
    display: flex;
    align-items: center;
}
.toggler p {
    margin: 0 5px;
    font-size: 12x;
}
.passive {
    color: grey;
}
.active {
    color: #ffffff;
}
.toggle-slider {
    width: 25px;
    height: 13px;
    background-color: white;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid white;
    box-sizing: content-box;
}
.toggle-slider-circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #2B283A;
}
.slide {
    justify-content: flex-end;
}

@media only screen and (max-width: 1048px) {
    /* .CTAButton, .toggler {
        margin-left: 40px;
        margin-right: 40px;
    }
    .CTAButton {
        font-size: 20px;
        margin-top: 40px;
    }
    .toggler {
        margin-top: 30px;
    } */
}