label {font-size: 12px;}
input {
    padding: 10px;
    font-size: 15px;
    border-radius: 3px;
    box-sizing: border-box;
}

.password-group {
    justify-content: flex-end;
    margin-top: 0;
}

.forgot-password {
    place-self: flex-end;
    margin: 5px 0;
}

.password {
    width: 100%;
}

.fa-eye-slash, .fa-eye {
    color:grey;
}

.show-password {
    position: absolute;
    align-self: center;
    padding-right: 10px;
    z-index: 10;
    cursor: pointer;
}

.confirm-password {
    width: 100%;
    margin-top: 0px!important;
    margin-bottom: 15px;
    place-self: center;
}

.register {
    font-size: 14px;
    font-weight: 400;
}